body {
  background: #131313;
  padding: 20px;
  font-size: 1.2rem;
  position: sticky;
  color: rgb(123, 32, 123);
  font-family: 'Inter', sans-serif;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
  font-size: 1.2rem;
}

button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(193, 211, 194);
    box-shadow: 0 2px 4px rgba(33, 32, 32, 0.1);
}

.profile-header {
    text-align: center;
    padding: 20px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
}

.profile-title {
    font-size: 18px;
    color: #121111;
    margin-bottom: 20px;
}

.profile-bio {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Footer */
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  
  /* Social Media */
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social_media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social__logo {
    color: #fff;
    justify-content: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__links--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__links--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }